In [1]:
#dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import pymongo
import time
import requests

In [2]:
#urls
nasa_news_url = 'https://mars.nasa.gov/news/'
space_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
space_fact_url = "https://space-facts.com/mars/"
base_hemisphere_url = "https://astrogeology.usgs.gov"
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [3]:
#Windows
# Set Executable Path & Initialize Chrome Browser
executable_path = {"executable_path": "./chromedriver.exe"}
browser = Browser("chrome", **executable_path)

## Nasa News

In [4]:
#visit nasa news url in splinter
browser.visit(nasa_news_url)

#create response, to be used in soup object
response = requests.get(nasa_news_url)

#create soup object
soup = bs(response.text, 'html.parser')

#display html
#nasa_news_html = print(soup.prettify())

In [5]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

 # Define database and collection
db = client.mars_db
collection = db.nasa

In [6]:
results = soup.find_all('div', class_="content_title")

# loop over results to get article data
for result in results:
    # scrape the article header 
    news_title = soup.find('div', class_= "content_title").find('a').text.strip()
    news_paragraph = soup.find('div', class_= "rollover_description_inner").text.strip()
    
    # print article data
    print('-----------------')
    print(news_title)
    print(news_paragraph)

    # Dictionary to be inserted into MongoDB
    post = {
        'news_title': news_title,
        'news_paragraph': news_paragraph,
    }

    # Insert dictionary into MongoDB as a document
    collection.insert_one(post)

-----------------
NASA Readies Perseverance Mars Rover's Earthly Twin
Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.
-----------------
NASA Readies Perseverance Mars Rover's Earthly Twin
Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.
-----------------
NASA Readies Perseverance Mars Rover's Earthly Twin
Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.
-----------------
NASA Readies Perseverance Mars Rover's Earthly Twin
Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.
-----------------
NASA Readies Perseverance Mars Rover's Earthly Twin
Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.
-----------------
NASA Readies Perseverance Mars Rover's Earthly Twin
Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

## Space Images

In [7]:
#visit space url in splinter
browser.visit(space_image_url)

#create response, to be used in soup object
response = requests.get(space_image_url, stream=True)

#create soup object
soup = bs(response.content, 'html5lib')

featured_image = soup.find("img", class_="thumb")["src"]

#space_image_html = print(soup.prettify())

featured_image_url = f"https://www.jpl.nasa.gov{featured_image}"

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24085-640x350.jpg

In [8]:
 # Define database and collection
db = client.mars_db
collection = db.space_images

results = soup.find("img", class_="thumb")["src"]

# loop over results to get article data
for result in results:

    # Dictionary to be inserted into MongoDB
    post = {
        'featured_image_url': featured_image_url,
    }

    # Insert dictionary into MongoDB as a document
    collection.insert_one(post)

## Mars Facts

In [9]:
# Use Panda's `read_html` to parse the url
mars_facts = pd.read_html(space_fact_url)

# find mars df
mars_df = mars_facts[0]

# columns
mars_df.columns = ['Description','Value']

# set columns
mars_df.set_index('Description', inplace=True)

# save to html
mars_df.to_html()

#data = mars_df.to_dict(orient='records')

# Display mars_df
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [10]:
mars_df.to_html('Resources/mars_facts.html')

In [11]:
mars_facts = mars_df.to_html(header=True, index=True)
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [12]:
 # Define database and collection
db = client.mars_db
collection = db.space_facts

    # Dictionary to be inserted into MongoDB
post = {
    'mars_facts': mars_facts,
       }
# Insert dictionary into MongoDB as a document
collection.insert_one(post)

## Hemispheres

In [13]:
browser.visit(hemisphere_url)

In [14]:
#visit space url in splinter
html = browser.html
#create soup object
soup = bs(html, 'html.parser')
    
hemisphere_image_urls = []

results = soup.find_all("div", class_="item")

for result in results:
    img_dict = {}
    title = result.find("h3").text
    link = result.find("div", class_="description").a["href"]
    next_link = base_hemisphere_url + link
    
    browser.visit(next_link)
    
    html = browser.html
    soup = bs(html, 'html.parser')
    
    url = soup.find("img", class_="wide-image")["src"]

    img_dict["title"] = title
    img_dict["img_url"] = base_hemisphere_url + url
    print(img_dict["img_url"])
    
    hemisphere_image_urls.append(img_dict)

https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [19]:
db = client.mars_db
collection = db.hemispheres

    # Dictionary to be inserted into MongoDB
post = {
    'hemisphere_image_urls': hemisphere_image_urls,
       }
# Insert dictionary into MongoDB as a document
collection.insert_one(post)